@use "colors";

#about {
  .home-content {
    max-width: 800px;
    margin: 0 auto;

    .descriptions {

      .description-group {
        margin-bottom: 40px;


        h2 {
          color: colors.$color1;
          margin-bottom: 10px;
        }

        .logo {
          img {
            height: 50px;
            width: 50px;
          }

          margin: 15px auto;
        }

        .description {
          line-height: 1.7em;
        }
      }
    }

  }
}