@use "colors";
@use "variables";

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
  //@include designBg;
  background-color: colors.$color2;

  p {
    color: white;
    display: block;

    @media screen and (max-width: variables.$navbarBreakpoint) {

      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0px;

      }
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}