@use "sass:color";
@use "colors";
@use "variables";

$cardWidth: 400px;
$cardWidthMedium: 500px;

#services {
  //background-image: url("../img/waves.svg");
  //background-repeat: no-repeat;
  background-color: color.adjust(colors.$color1, $lightness: -27%);
  color: white;

  ul.services-list {
    max-width: 1000px;

    list-style-type: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: #{variables.$navbarBreakpoint - 1}) {
      display: block;
    }


    li.service-item {
      margin: 40px;

      // @media screen and (max-width: #{$navbarBreakpoint - 1}) {
      //   min-width: $cardWidthMedium;
      // }
      @media screen and (max-width: variables.$smallBreakpoint) {
        margin: 20px 0;
      }

      .service {
        display: flex;
        flex-direction: column;

        h3 {
          line-height: 1.2em;
          font-size: 25px;
          margin: 0 auto;
          margin-bottom: 20px;
          font-weight: normal;
          max-width: 75%;
        }

        max-width: $cardWidth;
        position: relative;

        .service-img {
          height: 100px;
          display: block;
          margin: 20px auto;
        }

        .service-description {
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5em;

        }
      }
    }
  }
}