// Form
$xPadding: 10px;
$yPadding: 15px;
$formFontSize: 16px;

$unit: 8px;

$navbarHeight: 83px;
$animation-length: 0.2s;
$sidebar-width: 256px;
$navbarBreakpoint: 900px;
$navbarMobileHeight: 52px;

$smallBreakpoint: 620px;

$headerSpacing: 80px;
$headerSpacingMobile: 60px;
$fontSize: 48px;
$fontSizeMobile: 35px;

$containerPaddingTop: 70px;
$containerPaddingTopMedium: 40px;
$containerPaddingBottom: 70px;
$containerPaddingBottomMedium: 40px;
$containerPaddingX: 90px;
$containerPaddingXMedium: 50px;
$containerPaddingXSmall: 20px;